<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>Experts Overflow</title>

<!-- Bootstrap core CSS -->
<link href='{{ url_for('static',filename='assets/css/bootstrap.css')}}' rel="stylesheet">

<!-- Custom CSS -->
<link href='{{ url_for('static',filename='assets/css/main.css')}}' rel="stylesheet">
<link href='{{ url_for('static',filename='assets/css/font-awesome.min.css')}}' rel="stylesheet">
<link href='{{ url_for('static',filename='assets/css/animate-custom.css')}}' rel="stylesheet">
<link href='{{ url_for('static',filename='')}}' rel="stylesheet">

<link href='http://fonts.useso.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>


<script src="static/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="static/assets/js/modernizr.custom.js"></script>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body data-spy="scroll" data-offset="0" data-target="#navbar-main">
<div id="navbar-main"> 
  <!-- Fixed navbar -->
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a class="navbar-brand" href="#home"><i class="fa fa-location-arrow"></i> Experts Overflow </a> </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#home" class="smoothScroll">Home</a></li>
          <li> <a href="#about" class="smoothScroll">About</a></li>
          <li> <a href="#stats_experts" class="smoothScroll">Stats Experts</a></li>
          <li> <a href="#stack_experts" class="smoothScroll">Stack Experts</a></li>
          <li> <a href="#algorithm" class="smoothScroll">Algorithm</a></li>
          <li> <a href="#contact" class="smoothScroll">Contact</a></li>
        </ul>
      </div>
      <!--/.nav-collapse --> 
    </div>
  </div>
</div>

<!-- ==== HEADERWRAP ==== -->
<div id="headerwrap" name="home">
  <header class="clearfix">
<!--    <div class="col-md-3"> <img class="img-responsive" src="static/assets/img/about/about1.jpg" > </div><br> 
-->

<h1>Experts On
<figure class="logo animated fadeInDown delay-07s">
    <img src="static/assets/img/logo.png" height="150" width="500"> 
</figure>
</h1>

<p> Find expert users on the Q&A site Stack Overflow. Classify users <br>
 basing on expertise in different domains. Look at user features and reach out the experts!.</p>
    <a href="#stats_experts" class="smoothScroll btn btn-lg">Find the Experts</a> </header>
</div>
<!-- /headerwrap --> 




<!-- ==== ABOUT ==== -->

<div id="about" name="about">
  <div class="container">
    <div class="row white">
      <div class="col-md-6 left"> 
      <h3>Example of an Expert User's Profile</h3>
          <img class="img-responsive" src="static/assets/img/about/Jon.png" align=""> </div>
      <div class="col-md-6 right">
        <h3>About this project</h3>
        <p> Stack overflow is a popular Q&A site for programming engineers. Expert in different domains help others out. Using machine learning algorithms and the big data tools, we analyzed 20G stack overflow data. We classify among all the users on all the tags. We find expert similarities and provide contact informations on popular experts.</p>
        <h3>Why useful?</h3>
        <p>Stack overflow user reputation doesn't reflect in which domain a user is good. From the data of all the users' behavior on all the tags, experts are identified by machine learning classification algorithm. </p>
      </div>
    </div>
    <!-- row --> 
  </div>
</div>
<!-- container --> 


<!-- ==== STATS EXPERTS ==== -->
<div id="stats_experts" name="stats_experts">
  <div class="container">
    <div class="row">
      <h2 class="centered">Experts Overflow (Stats Overflow)</h2>
      <hr>
      <div class="col-lg-8 col-lg-offset-2 centered">
          <p class="large">The model is tested first on a smaller sister site <i>Stats Overflow</i>. The data set is <b>~500Mb</b>. The <b>~7000</b> active users are classified into 6 groups. Two expert groups - <b>Theoretical Statistician </b> and <b>Data scientist </b>groups are found (Find our Python code at <a href='https://github.com/FangMath/ExpertsOverflow/tree/master/ExpertsOverflow_python'>GitHub</a>).
          </p>
      </div>
    </div>
    <!-- /row -->
    <div class="container">
      <div class="row"> 
        
        <!-- PORTFOLIO IMAGE 1 -->
        <div class="col-md-4 ">
          <div class="grid mask">
            <figure> <img class="img-responsive" src="static/assets/img/StatsExperts/group1.png" alt="">
              <figcaption>
                <h5>Theoretical Statistician</h5>
                <a data-toggle="modal" href="#myExpert1" class="btn btn-default">Top Experts</a> </figcaption>
              <!-- /figcaption --> 
            </figure>
            <!-- /figure --> 
          </div>
          <!-- /grid-mask --> 
        </div>
        
        
        <!-- MODAL SHOW THE PORTFOLIO IMAGE. In this demo, all links point to this modal. You should create
						      a modal for each of your projects. -->
        
        <div class="modal fade" id="myExpert1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Top Experts: Theoretical Statistician</h4>
              </div>
              <div class="modal-body">
                <p> Michael Chernick (Reputation: 22275 ), URL: </p>
                <p> Display Name: Glen_b (Reputation: 65272 ), URL:<a href='http://none'>http://none</a> </p>
                <p> Display Name: whuber (Reputation: 87393 ), URL: <a href='http://www.quantdec.com'>http://www.quantdec.com</a> </p>
                <p> Display Name: Peter Flom (Reputation: 44152 ), URL: <a href='http://www.statisticalanalysisconsulting.com'>http://www.statisticalanalysisconsulting.com</a> </p>
                <p> Display Name: gung (Reputation: 37083 ), URL: <a href='http://en.wikipedia.org/wiki/Gongsun_Long'>http://en.wikipedia.org/wiki/Gongsun_Long</a>  </p>
                <p> Display Name: AdamO (Reputation: 7972 ), URL: <a href='http://github.com/aomidpanah'>http://github.com/aomidpanah</a>  </p>
                <p> Display Name: Greg Snow (Reputation: 25123 ), URL: <a href='http://mormon.org/me/38ZB'>http://mormon.org/me/38ZB</a>  </p>
                <p> Display Name: Nick Cox (Reputation: 13806 ), URL: </p>
                <p> Display Name: chl (Reputation: 31170 ), URL: <a href='http://www.aliquote.org'>http://www.aliquote.org</a>  </p>
                <p> Display Name: Frank Harrell (Reputation: 19585 ), URL: <a href='http://biostat.mc.vanderbilt.edu/FrankHarrell'>http://biostat.mc.vanderbilt.edu/FrankHarrell</a>  </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
            <!-- /.modal-content --> 
          </div>
          <!-- /.modal-dialog --> 
        </div>
        <!-- /.modal --> 
        
        <!-- PORTFOLIO IMAGE 2 -->
        <div class="col-md-4">
          <div class="grid mask">
            <figure> <img class="img-responsive" src="static/assets/img/StatsExperts/group2.png" alt="">
              <figcaption>
                <h5>Data Scientist</h5>
                <a data-toggle="modal" href="#myExpert2" class="btn btn-default">Top Experts</a> </figcaption>
              <!-- /figcaption --> 
            </figure>
            <!-- /figure --> 
          </div>
          <!-- /grid-mask --> 
        </div>
        <!-- MODAL SHOW THE PORTFOLIO IMAGE. In this demo, all links point to this modal. You should create
						      a modal for each of your projects. -->
        
        <div class="modal fade" id="myExpert2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Top Experts: Data Scientist</h4>
              </div>
              <div class="modal-body">
                <p> Display Name: Shane (Reputation: 6792 ), URL:<a href='http://www.statalgo.com'>http://www.statalgo.com</a> </p>
                <p> Display Name: bayerj (Reputation: 3359 ), URL: <a href='http://bayerj.github.io/'>http://bayerj.github.io/</a> </p>
                <p> Display Name: Flounderer (Reputation: 2594 ), URL: <a href=''></a> </p>

                <p> Display Name: Zhubarb (Reputation: 1410 ), URL: <a href=''></a>  </p>
                <p> Display Name: Deathkill14 (Reputation: 1274 ), URL: <a href=''></a>  </p>
                <p> Display Name: Emre (Reputation: 1376 ), URL: <a href=''></a>  </p>
                <p> Display Name: Analyst (Reputation: 941 ), URL: </p>
                <p> Display Name: Dmitry Laptev (Reputation: 1646 ), URL: <a href='http://dlaptev.org'>http://dlaptev.org</a>  </p>
                <p> Display Name: Yevgeny (Reputation: 951 ), URL: <a href='http://www.cquotient.com'>http://www.cquotient.com</a>  </p>
                <p> Display Name: lejlot (Reputation: 1104 ), URL: <a href='http://czarnecki.gmum.ii.uj.edu.pl'>http://czarnecki.gmum.ii.uj.edu.pl</a>  </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
            <!-- /.modal-content --> 
          </div>
          <!-- /.modal-dialog --> 
        </div>
        <!-- /.modal --> 
        
        <!-- PORTFOLIO IMAGE 3 -->
        <div class="col-md-4">
          <div class="grid mask">
            <figure> <img class="img-responsive" src="static/assets/img/StatsExperts/group3.png" alt="">
              <figcaption>
                <h5>Statistician</h5>
                <!-- <a data-toggle="modal" href="#myModal" class="btn btn-default">More Details</a> -->
                </figcaption>
              <!-- /figcaption --> 
            </figure>
            <!-- /figure --> 
          </div>
          <!-- /grid-mask --> 
        </div>
      </div>
      <!-- /row --> 
      
      <!-- PORTFOLIO IMAGE 4 -->
      <div class="row">
        <div class="col-md-4 ">
          <div class="grid mask">
            <figure> <img class="img-responsive" src="static/assets/img/StatsExperts/group4.png" alt="">
              <figcaption>
                <h5>Data Scientist</h5>
                <!-- <a data-toggle="modal" href="#myModal" class="btn btn-default">More Details</a> -->
                </figcaption>
              <!-- /figcaption --> 
            </figure>
            <!-- /figure --> 
          </div>
          <!-- /grid-mask --> 
        </div>
        
        <!-- PORTFOLIO IMAGE 5 -->
        <div class="col-md-4">
          <div class="grid mask">
            <figure> <img class="img-responsive" src="static/assets/img/StatsExperts/group5.png" alt="">
              <figcaption>
                <h5>Elementary Statistician</h5>
                <!-- <a data-toggle="modal" href="#myModal" class="btn btn-default">More Details</a> -->
                </figcaption>
              <!-- /figcaption --> 
            </figure>
            <!-- /figure --> 
          </div>
          <!-- /grid-mask --> 
        </div>
        
        <!-- PORTFOLIO IMAGE 6 -->
        <div class="col-md-4">
          <div class="grid mask">
            <figure> <img class="img-responsive" src="static/assets/img/StatsExperts/group6.png" alt="">
              <figcaption>
                <h5>Novice</h5>
                <!-- <a data-toggle="modal" href="#myModal" class="btn btn-default">More Details</a> -->
                </figcaption>
              <!-- /figcaption --> 
            </figure>
            <!-- /figure --> 
          </div>
          <!-- /grid-mask --> 
        </div>
        <!-- /col --> 
      </div>
      <!-- /row --> 
        <!-- /col --> 
      </div>
      <!-- /row --> 
    </div>
    <!-- /row --> 
  </div>
</div>
<!-- /container --> 

<!-- ==== STACK EXPERTS ==== -->
<div id="stack_experts" name="stack_experts">
  <div class="container">
    <div class="row">
      <h2 class="centered">Experts Overflow (Stack Overflow)</h2>
      <hr>

      <div class="col-lg-8 col-lg-offset-2">
          <p class="large">Stack Overflow has a much larger data set <b>(~20Gb)</b>. We use <b>Spark/Hadoop</b> to implement the analysis algorithm. Sorry this development is still undergoing. Please check again later! Check out our Spark code at 
          <a href='https://github.com/FangMath/ExpertsOverflow/tree/master'>GitHub</a>
        </p>
      </div>
    <!-- row --> 

                
    </div>
    <!-- row --> 
  </div>
</div>
<!-- container --> 


<!-- ==== ALGORITHM ==== -->
<div id="algorithm" name="algorithm">
  <div class="container">
    <div class="row">
      <h2 class="centered">Analysis Algorithm of the Experts Overflow</h2>
      <hr>

      <div class="col-lg-8 col-lg-offset-2">
       <p class="large">The user's feature vector measures how knowledgable the user is on each tag. Machine learning algorithm classifies all the users, and return the expert groups with expertise in different domains.</p>
      </div>
    <div class="row white">
        <div class="col-md-6 left"> 
      <h4 class="centered">User Tags' Score</h4>
            <img class="img-responsive" src="static/assets/img/analysis/tags.png" align="">
      <h4 class="centered">Clustering Map</h4>
      <a href='clustering.html'> 
            <img class="img-responsive" src="static/assets/img/analysis/clustering.png" align="" > 
        </a>
        </div>
        <div class="col-md-6 right"> 
            <img class="img-responsive" src="static/assets/img/analysis/scheme.png" align=""> 
            <img class="img-responsive" src="static/assets/img/analysis/algorithm.png" align=""> 
        </div>
    </div>
    <!-- row --> 

                
    </div>
    <!-- row --> 
  </div>
</div>
<!-- container --> 

<!-- ==== CONTACT ==== -->
<div id="contact" name="contact">
  <div class="container">
    <div class="row">
      <h2 class="centered">Contact Me</h2>
      <hr>
      <div class="col-md-4 centered"> <i class="fa fa-map-marker fa-2x"></i>
        <p>251 Mercer Street<br>
          New York, NY 10012</p>
      </div>
      <div class="col-md-4"> <i class="fa fa-envelope-o fa-2x"></i>
        <p>fang@cims.nyu.com</p>
      </div>
      <div class="col-md-4"> <i class="fa fa-phone fa-2x"></i>
        <p> +1 917 680 8114</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 centered">
        <p>Please contact me with any questions and suggestions.</p>
        <form id="contact" method="post" class="form" role="form">
          <div class="row">
            <div class="col-xs-6 col-md-6 form-group">
              <input class="form-control" id="name" name="name" placeholder="Name" type="text" required />
            </div>
            <div class="col-xs-6 col-md-6 form-group">
              <input class="form-control" id="email" name="email" placeholder="Email" type="email" required />
            </div>
          </div>
          <textarea class="form-control" id="message" name="message" placeholder="Message" rows="5"></textarea>
          <div class="row">
            <div class="col-xs-12 col-md-12">
              <button class="btn btn btn-lg" type="submit">Send Message</button>
            </div>
          </div>
        </form>
        <!-- form --> 
      </div>
    </div>
    <!-- row --> 
    
  </div>
</div>
<!-- container -->

<div id="footerwrap">
  <div class="container">
    <div class="row">
      <div class="col-md-8"> <span class="copyright">Copyright &copy; 2015 Fang Fang </span> </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li><a href="#"><i class="fa fa-twitter"></i></a> </li>
          <li><a href="https://www.facebook.com/fangg.fang.1"><i class="fa fa-facebook"></i></a> </li>
          <li><a href="https://plus.google.com/115204697294341540458/posts"><i class="fa fa-google-plus"></i></a> </li>
          <li><a href="https://www.linkedin.com/in/fangfangphd"><i class="fa fa-linkedin"></i></a> </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap core JavaScript
    ================================================== --> 
<!-- Placed at the end of the document so the pages load faster --> 

<script type="text/javascript" src="static/assets/js/bootstrap.min.js"></script> 
<script type="text/javascript" src="static/assets/js/retina.js"></script> 
<script type="text/javascript" src="static/assets/js/jquery.easing.1.3.js"></script> 
<script type="text/javascript" src="static/assets/js/smoothscroll.js"></script> 
<script type="text/javascript" src="static/assets/js/jquery-func.js"></script>
</body>
</html>
